/* Removing the 'New Playlist' button */
button.IPVjkkhh06nan7aZK7Bx {
	display: none;
}

/* Removing the 'Your Episodes' button */
a[href="/collection/episodes"] {
	display: none;
}

/* Thinner scrollbar */

.os-scrollbar-track {
	display: flex;
	justify-content: flex-end;
}

.os-scrollbar-handle {
	width: 6px !important;
	background-color: #1f1f1f !important;
}

.os-scrollbar-handle:hover {
	background-color: #2e2e2e !important;
}

/* Power Bar Customization */

#power-bar-container {
	--power-bar-background-color: #121212;
	--power-bar-main-text-color: #ffffff;
	--power-bar-subtext-color: #ffffff;
	/* --power-bar-active-background-color: #2adede;  */
	--power-bar-active-background-color: #000000;
	/* --power-bar-active-text-color: #000000; */
	--power-bar-active-text-color: #ffffff;
	--power-bar-border-color: #000000;
}