/* Main navbar (top-left) into flexbox */
ul.main-navBar-entryPoints {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0px !important;
}
ul.main-navBar-entryPoints li a span {
	display: none;
}
nav.Root__nav-bar {
	width: 290px;
}

/* Removing the 'Create Playlist' button */
div.GlueDropTarget[data-id*="/add"] {
	display: none;
}

/* Active playlist color  */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
	color: #2ADEDE;
}

/* Removing the 'Your Episodes' button */
div.GlueDropTarget[data-id*="/collection/episodes"] {
	display: none;
}

/* Thinner scrollbar */

.os-scrollbar-track {
	display: flex;
	justify-content: flex-end;
}

.os-scrollbar-handle {
	width: 6px !important;
	background-color: #1f1f1f !important;
	border-radius: 6px;
}

.os-scrollbar-handle:hover {
	background-color: #2e2e2e !important;
}

/* Power Bar Customization */

#power-bar-container {
	--power-bar-background-color: #121212;
	--power-bar-main-text-color: #ffffff;
	--power-bar-subtext-color: #ffffff;
	/* --power-bar-active-background-color: #2adede;  */
	--power-bar-active-background-color: #000000;
	/* --power-bar-active-text-color: #000000; */
	--power-bar-active-text-color: #ffffff;
	--power-bar-border-color: #000000;
}
