// zjstatus config
// NOTE: To update zjstatus plugin you need to manually download from GitHub Releases and overwrite
// The colors (e.g. blue, green) are taken from the terminal colors, or can be something like #123f60

layout {
    default_tab_template {
        children
            pane size=1 borderless=true {
                plugin location="file:~/.config/zellij/zjstatus.wasm" {
                    hide_frame_for_single_pane "false" // Default: true

                        format_left   "{mode} #[fg=#89B4FA,bold]{session} {}"
                        format_center "{tabs}"
                        format_right  "Help: Ctrl + x - {datetime}"
                        format_space  ""

                        border_enabled  "false"
                        border_char     "─"
                        border_format   "#[fg=#6C7086]{char}"
                        border_position "top"

                        mode_normal        "#[fg=#000000,bg=#8edfff,bold] {name} "
                        mode_locked        "#[fg=#000000,bg=#ff6d59,bold] {name} "
                        mode_resize        "#[fg=#000000,bg=#b66cff,bold] {name} "
                        mode_pane          "#[fg=#000000,bg=#2adede,bold] {name} "
                        mode_rename_pane   "#[fg=#000000,bg=#0fffff,bold] {name} "
                        mode_tab           "#[fg=#000000,bg=#5fd24b,bold] {name} "
                        mode_rename_tab    "#[fg=#000000,bg=#5ff22b,bold] {name} "
                        mode_scroll        "#[fg=#000000,bg=#f4da58,bold] {name} "
                        mode_enter_search  "#[fg=#000000,bg=#ff9800,bold] {name} "
                        mode_search        "#[fg=#000000,bg=#cf7800,bold] {name} "
                        mode_session       "#[fg=#000000,bg=#54a746,bold] {name} "
                        mode_move          "#[fg=#000000,bg=#ffc387,bold] {name} "
                        mode_prompt        "#[fg=#000000,bg=#bd93f9,bold] {name} "
                        mode_tmux          "#[fg=#000000,bg=#ffffff,bold] {name} " // Not using this

                        tab_normal   "#[fg=#6C7086] {name} "
                        tab_active   "#[fg=#9399B2,bold,italic] {name} "

                        datetime        "#[fg=#6C7086,bold] {format} "
                        datetime_format "%A, %d %b %Y %H:%M"
                        datetime_timezone "Europe/Berlin"
                }
            }
    }
}
