[Desktop Entry]
Name=1Password
Exec=1password
Terminal=false
Type=Application
Icon=/home/stankovictab/.dotfiles/dotdesktops/1Password/1Password.svg
StartupWMClass=1Password
GenericName=Password Manager
Comment=More than a password manager.
Categories=Security;
Keywords=1password;password;1p;security
